{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>Create Resource Profile{{message}}
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Resources</li>
                                <li class="breadcrumb-item active">Add Profile </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Profile</h5>
                            </div>
                            <form id="form" class="card-body" action="" novalidate enctype="multipart/form-data" method="post">
                             {% csrf_token %}

                                <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active show" id="resourceinfo-tab" data-toggle="tab" href="#resourceinfo" role="tab" aria-controls="resourceinfo" aria-selected="true" data-original-title="" title="">Resource Information</a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="resourceinfo" role="tabpanel" aria-labelledby="resourceinfo-tab">
                                        <div class="row">
                                           
                                            
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.resource_name|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.resource_category|as_crispy_field }}
                                            </div>
                                            
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.price|as_crispy_field }}
                                            </div>

                                            <div class="col-xl-6 col-md-6">
                                                {{ form.Phone_number1|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.Phone_number2|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.lat|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.lon|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.resource_status|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.available_from|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                {{ form.available_to|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-12 col-md-12">
                                                {{ form.image|as_crispy_field }}
                                            </div>
                                            <div class="col-xl-12 col-md-12">
                                                {{ form.terms_and_conditions|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                                                    
                                 <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
            
{% block javascript %}
    <script type="text/javascript">
    {% for message in messages %}
    $(document).ready(function() {
        $.notify("{{message}}", "{{ message.tags }}", { position:"center" });
    });
    {% endfor %}
    </script>
{% endblock %}