
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>{% if communityweather %}Edit {% else %} Report  {% endif %} Weather
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'weather:communityweather_list' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item add-new">Community Weather</li>
                                <li class="breadcrumb-item active">Add Weather </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5>{% if communityweather %}Update {% else %} Report {% endif %} Weather</h5>
                                {% if messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% for message in messages %}
                                    <strong>{{message}}</strong>
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  {% endif %}
                            </div>
                            <form method="POST" id="weather_form"  novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <div class="row">
                                        
                                    <div class="col-md-12">
                                        {{ form.weather|as_crispy_field }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form.location|as_crispy_field }}
                                    </div>

                                </div>
                              
                                <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
           









