
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>{% if group %}Edit {% else %}Create {% endif %}Group Profile
                                   
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'farmer:group_list' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item add-new">Groups</li>
                                <li class="breadcrumb-item active">{% if group %} Edit {% else %}Add {% endif %}Group </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> {% if group %} Update {% else %}Add {% endif %} Farmer Group</h5>
                            </div>
                            <form method="POST" id="group_form"  novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <div class="row">
                                        
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.contact_person|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.contact_person_email|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.contact_person_phone|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.address|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.logo|as_crispy_field }}
                                    </div>

                                </div>
                              
                                <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
           

<!--select 2-->
<!-- latest jquery-->
{% block javascript %}
<!--select 2-->
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {



    });
  
  
  </script>
{% endblock %}









