
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>Create Farm Record
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="{% url 'farm:farmrecords' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item add-new">Farms</li>
                                <li class="breadcrumb-item active">Add Farm Record </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Farm Record</h5>
                                {% if messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% for message in messages %}
                                    <strong>{{message}}</strong>
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  {% endif %}
                            </div>
                            <form method="POST" id="enterprise_form"  novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.enterprise|as_crispy_field }}
                                    </div>

                                    <div class="col-xl-6 col-md-6">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                   
                                   
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.from_date|as_crispy_field }}
                                    </div>
                                     
                                 
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.to_date|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.taken_by|as_crispy_field }}
                                    </div>
                               
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.contact|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.next_activity_date|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                    
                                </div>
                              
                                <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
           

<!--select 2-->
<!-- latest jquery-->
{% block javascript %}
<!--select 2-->
<script type="text/javascript">

    $(document).ready(function () {

        $('#id_enterprise option:not(:selected)').attr('disabled', true);

 });

  
  
  </script>
{% endblock %}









