
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>{% if farm %}Edit {% else %} Create  {% endif %} Farm Profile
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'farm:farm_list' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item add-new">Farms</li>
                                <li class="breadcrumb-item active">Add Farm </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5>{% if farm %}Update {% else %} Add {% endif %} Farm</h5>
                                {% if messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% for message in messages %}
                                    <strong>{{message}}</strong>
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  {% endif %}
                            </div>
                            <form method="POST" id="group_form"  novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <div class="row">
                                        
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.farm_name|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.land_occupied|as_crispy_field }}
                                    </div>
                                 
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.start_date|as_crispy_field }}
                                    </div>
                                  
                                
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.lat|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.lon|as_crispy_field }}
                                    </div>
                                  
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.availability_of_services|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.availability_of_water|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        {{ form.image|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.general_remarks|as_crispy_field }}
                                    </div>
                                   
                                    <input name="farmer" value="{{user.id}}" type="hidden">

                                </div>
                              
                                <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            {% endblock %}
           

<!--select 2-->
<!-- latest jquery-->
{% block javascript %}
<!--select 2-->
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {



    });
  
  
  </script>
{% endblock %}









