{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
   <!-- Container-fluid starts-->
   <div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Queries List
                      <small><a class="add-new" href="{% url 'farm:create_query' %}">Add new</a></small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Queries</li>
                    <li class="breadcrumb-item active">Queries List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid Ends-->



<!-- bootstrap table begin here -->
<div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="fa fa-trash"></i> Delete
  </button>
</div>
<table
  id="table"
  data-toggle="table"
  data-show-refresh="true"
  data-show-toggle="true"
  data-search="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-show-export="true"
  data-click-to-select="true"
  data-minimum-count-columns="2"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-toolbar="#toolbar"
  data-export-types="[‘png’, ‘csv’,‘doc’, ‘excel’, ‘xlsx’, ‘pdf’]"
  data-page-list="[10, 25, 50, 100, all]"
  data-page-list="[10, 25, 50, 100, all]"
  data-url="/farm/api/query/"
  data-response-handler="responseHandler">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="query_type" data-sortable="true">Query Type</th>
      <th data-field="query_category" data-sortable="true">Query Category</th>
      <th data-field="farm" data-sortable="true">Farm</th>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="description" data-sortable="true">Description</th>
      <th data-field="date_discovered" data-sortable="true">Date Discovered</th>
      <th data-field="image" data-visible="true"  data-formatter="imageFormatter" data-sortable="true">Image</th>
      <th data-field="action_taken" data-sortable="true">Action Taken</th>
      <th data-field="reporting_date" data-sortable="true">Reporting Date</th>
      <th data-field="solution" data-visible="false" data-sortable="true">Solution</th>
      <th data-formatter="operateFormatter"  class="text-center">Action</th>
    </tr>
  </thead>
</table>
 <!--bootstrap table ends here-->

 {% endblock %}
<!-- latest jquery-->
{% block javascript %}
<script>
  var $table = $('#table');
  var $remove = $('#remove')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }
  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }
   //displays an image
     function imageFormatter(value, row) {
       var url =row.image;
     return '<img class="img-thumbnail" src="'+url+'">'
  }
  function operateFormatter(value, row, index) {
    console.log(row.id);
    var url ="/farm/"+row.id+"/edit/query";
    return [
    {% if request.user.is_superuser or perms.farm.change_query %}
      '<a class="Edit " href="'+url+'" title="Edit">',
      '<i class="fas fa-edit"></i>',
      '</a>  ',
        {% endif %}
    ].join('')
  }

  ///used cookies to get crsf token
  function getCookie(c_name)
    {
      if (document.cookie.length > 0)
        {
          c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
         {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
         }
     }
      return "";
   }
   function initTable() {

$table.on('check.bs.table uncheck.bs.table ' +
  'check-all.bs.table uncheck-all.bs.table',
function () {
  $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)


  // save your data, here just save the current page
  selections = getIdSelections()
  // push or splice the selections if you want to save all data selections
})
$table.on('all.bs.table', function (e, name, args) {
  console.log(name, args)
})
///multiple delete
$remove.click(function () {
  var ids = getIdSelections()
  $remove.prop('disabled', true)

  swal({
title: "Are you sure?",
text: "Once deleted, you will not be able to recover these records!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
for(id=0; id<ids.length; id++){
    console.log(ids[id]);

$.ajax({
    url: "/farm/api/query/"+ids[id],
    data: {},
    headers:{"X-CSRFToken": getCookie("csrftoken")},
    type: 'DELETE',
    contentType: 'application/json',
    success: function(result) {
      console.log('deleted successful');
    },
   });
swal("Your record/s have been deleted successfully!", {
  icon: "success",
}).then(() =>{
        window.location.reload()});
;}
} else {
swal("You have cancelled the deletion of records!");
}
});

})






}

$(function() {
initTable()

$('#locale').change(initTable)
})




</script>
 

 {% endblock %}