{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
   <!-- Container-fluid starts-->
   <div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>ServiceProvider List
                      <small><a class="add-new" href="{% url 'openmarket:serviceprovider_registration' %}">Add new</a></small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">ServiceProvider</li>
                    <li class="breadcrumb-item active">serviceprovider List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid Ends-->



<!-- bootstrap table begin here -->
<div id="toolbar">
  {% if request.user.is_superuser or perms.openmarket.delete_serviceprovider %}
  <button id="remove" class="btn btn-danger" title="Delete" disabled>
    <i class="fa fa-trash"></i> 
  </button>
  {% endif %}
  {% if request.user.is_superuser or perms.openmarket.can_approve_service_providers %}
  <button id="decline" class="btn btn-decline" title="Decline" disabled>
    <i class="fa fa-times"></i>
  </button>
  <button id="approve" class="btn btn-primary" title="Approve" disabled>
    <i class="fa fa-check"></i>
  </button>
  {% endif %}
</div>
<table
  id="table"
  data-toggle="table"
  data-show-refresh="true"
  data-show-toggle="true"
  data-search="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-show-export="true"
  data-click-to-select="true"
  data-minimum-count-columns="2"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-toolbar="#toolbar"
  data-page-list="[10, 25, 50, 100, all]"
  data-url="/openmarket/api/serviceproviders/?format=json">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="user" data-sortable="true">Service Provider Name</th>
      <th data-field="nin" data-sortable="true">NIN Number</th>
      <th data-field="category" data-sortable="true">Service Categories</th>
      <th data-field="service_provider_location" data-sortable="true">Location</th>
      <th data-field="list_of_services_if_more_than_one" data-sortable="true">List_of_services</th>
     
      <!-- <th data-field="region" data-sortable="true">Region</th>
      <th data-field="district" data-sortable="true">District</th>
      <th data-field="county" data-sortable="true">County</th>
      <th data-field="sub_county" data-sortable="true">Sub-county</th>
      <th data-field="parish" data-sortable="true">Parish</th>
      <th data-field="village" data-sortable="true">Village</th> -->
      <th data-field="status" data-sortable="true">status</th>  
      <th data-formatter="operateFormatter" data-events="operateEvents">Action</th>     
    </tr>
  </thead>
</table>
 <!--bootstrap table ends here-->
 {% endblock %}
<!-- latest jquery-->
{% block javascript %}
<script>
 var $table = $('#table')
  var $remove = $('#remove')
  var $approve = $('#approve')
  var $decline = $('#decline')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.user_id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.user_id, selections) !== -1
    })
    return res
  }


  function operateFormatter(value, row, index) {
    
    var url ="/openmarket/"+row.user_id+"/edit"
    var view_url ="/openmarket/"+row.user_id+"/viewprovider"
    return [
    {% if request.user.is_superuser or perms.openmarket.change_serviceprovider %}
      '<a class="Edit " href="'+url+'" title="Edit">',
      '<i class="fas fa-edit"></i>',
      '</a>  ',
        {% endif %}
      '<a class="Edit " href="'+view_url+'" title="view">',
      '<i class="fa fa-eye"></i>',
      '</a>  ',

    ].join('')
  }

  window.operateEvents = {
    'click .Detail': function (e, value, row, index) {
      //try
      $('#my_modal').on('show.bs.modal', function(e) {

       //get data-id attribute of the clicked element
var bookId = $(e.relatedTarget).data('book-id');

//populate the textbox
$(e.currentTarget).find('input[name="bookId"]').val(bookId);
});
    
      
      $('#detailsModel').modal('show');
    
      console.log(row.user);
      
    },
    'click .Edit': function (e, value, row, index) {
      window.location.href ="/openmarket/"+row.id+"/edit";

      
    },
  }

  ///used cookies to get crsf token
  function getCookie(c_name)
    {
      if (document.cookie.length > 0)
        {
          c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
         {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
         }
     }
      return "";
   }

  function initTable() {

    $table.on('check.bs.table uncheck.bs.table ' +
      'check-all.bs.table uncheck-all.bs.table',
    function () {
      $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
      $approve.prop('disabled', !$table.bootstrapTable('getSelections').length)
      $decline.prop('disabled', !$table.bootstrapTable('getSelections').length)

      // save your data, here just save the current page
      selections = getIdSelections()
      // push or splice the selections if you want to save all data selections
    })
    $table.on('all.bs.table', function (e, name, args) {
      console.log(name, args)
    })
    ///multiple delete
    $remove.click(function () {
      var ids = getIdSelections()
      $remove.prop('disabled', true)
    
      swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover these records!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    for(id=0; id<ids.length; id++){
        console.log(ids[id]);

    $.ajax({
        url: "/openmarket/api/serviceproviders/"+ids[id],

        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'DELETE',
        contentType: 'application/json',
        success: function(result) {
          console.log('deleted successfule');
        },
       });
    swal("Your record/s have been deleted successfully!", {
      icon: "success",
    }).then(() =>{
        window.location.reload()});
    }
  } else {
    swal("You have cancelled the deletion of records!");
  }
});
      
    })

    ///approve farmer profiles
    $approve.click(function () {
      var ids = getIdSelections()
      $approve.prop('disabled', true)
    
      swal({
  title: "Approve Service Provider Application/s?",
  text: "Are you sure you want to approve these applications!",
  icon: "success",
  buttons: true,
  dangerMode: false,
})
.then((willDelete) => {
  if (willDelete) {
    for(id=0; id<ids.length; id++){
        console.log(ids[id]);

    $.ajax({
        url: "/openmarket/"+ids[id]+'/approve/',

        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'PATCH',
        //contentType: 'application/json',
        success: function(result) {
          console.log('approved successfully');
        },
       });
    swal("You have approve Service Provider/s successfully!", {
      icon: "success",
    }).then(() =>{
        window.location.reload()});
    }
  } else {
    swal("You have cancelled Service Provider approvals!");
  }
});
      
    })


    ///decline farmer request
    $decline.click(function () {
      var ids = getIdSelections()
      $decline.prop('disabled', true)
    
      swal({
  title: "Decline Application",
  text: "Are you sure You want to decline these Applications?",
  icon: "warning",
  buttons: true,
  dangerMode: false,
})
.then((willDelete) => {
  if (willDelete) {
    for(id=0; id<ids.length; id++){
        console.log(ids[id]);

    $.ajax({
        url: "/openmarket/"+ids[id]+'/approve/',

        data: {},
        headers:{"X-CSRFToken": getCookie("csrftoken")},
        type: 'PUT',
        //contentType: 'application/json',
        success: function(result) {
          console.log('approved successfully');
        },
       });
    swal("You have declined Service Provider/s successfully!", {
      icon: "success",
    }).then(() =>{
        window.location.reload()});
    }
  } else {
    swal("You have cancelled Service Provider approvals!");
  }
});
      
    })

  }

  $(function() {
    initTable()

    $('#locale').change(initTable)
  })

 
 </script>
  
 

{% endblock %}