
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}


            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>Add Enquiry
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'unffeagents:enquiries' %}"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item add-new">Call Center</li>
                                <li class="breadcrumb-item active">Add Enquiries </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card tab2-card">
                            <div class="card-header">
                                <h5> Add Enquiry</h5>
                         
                            </div>
                            <form method="POST" id="form"  novalidate enctype="multipart/form-data" class="card-body">
                                {% csrf_token %}
                                <div class="row">
                                    
                                    <div class=" col-md-12">
                                        {{ form.caller_name|as_crispy_field }}
                                    </div>
                               
                                
                                    
                                    <div class="col-md-6">
                                        {{ form.called_from|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.type_of_question|as_crispy_field }}
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.question|as_crispy_field }}
                                    </div>
                                    
                             
                                    <div class="col-xl-12 col-md-12">
                                        {{ form.solution|as_crispy_field }}
                                    </div>
                                    
                                  
                                </div>
                              
                                <div class="float-right">
                                    <input type="submit" value="Submit" class="btn btn-primary">


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            
            <!-- Container-fluid Ends-->
            {% endblock %}
           

<!--select 2-->
<!-- latest jquery-->
{% block javascript %}
<!--select 2-->
<script type="text/javascript">

    $(document).ready(function () {
        $('#id_district').select2();
        $('#id_county').select2();
        $('#id_sub_county').select2();
        $('#id_parish').select2();
        $('#id_village').select2();
        $('#id_target_audience').select2();

    });
  
  
  </script>
{% endblock %}









