{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
   <!-- Container-fluid starts-->
   <div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Market List
                        <small>{{ user.groups.all.0 }} Dashboard</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="{% url 'common:home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Market</li>
                    <li class="breadcrumb-item active">Market List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid Ends-->
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">


<!-- bootstrap table begin here -->
<div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="fa fa-trash"></i> Delete
  </button>
</div>
<table
  id="table"
  data-toggle="table"
  data-show-refresh="true"
  data-show-toggle="true"
  data-search="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-show-export="true"
  data-click-to-select="true"
  data-minimum-count-columns="2"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="id"
  data-toolbar="#toolbar"
  data-page-list="[10, 25, 50, 100, all]"
  data-url="/api-unffeagents/market/?format=json">
  <thead>
    <tr>
      <th data-field="market_name" data-sortable="true">Market_name</th>
      <th data-field="latitude" data-sortable="true">Latitude</th>
      <th data-field="longitude" data-sortable="true">Longitude</th>
      <th data-field="market_description" data-sortable="true">Market_description</th>
    </tr>
  </thead>
</table>
 <!--bootstrap table ends here-->

<!-- latest jquery-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/tableExport.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
<script>
  
</script>
 

{% endblock %}