{% load staticfiles %}
{% load compress %}
{% load navutils_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ICT4Farmers is system developed by Eight Technologies to manage small scale farmers.">
    <meta name="author" content="Eight Technologies">
    <link rel="icon" href="/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/dashboard/favicon.png" type="image/x-icon">
    <title>ICT4Farmers</title>

    <!-- Google font-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
    {{ form.media }}
    {% compress css %}
     <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- Font Awesome-->
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"> -->

    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/icofont.css' %}">

    <!-- Prism css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">
    <link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
    

   

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    {% endcompress %}
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% block body %}
<!-- page-wrapper Start-->
<div class="page-wrapper">

  
    <!-- Page Header Start-->
    <div class="page-main-header" style="width: 100%; height:80px; margin-left: 0px;">
        <div class="main-header-right row" style="height:165%">
            
            <div class="logo">
                  <img src="{% static 'images/logo_circle.png' %}"  class="img-responsive" alt="Responsive image" 
                  style="margin-top: 10px; height:85px; width:85px; margin-left: 2px;">
            
            </div>
            
            <div class="main-header-left d-lg-none">
                <div class="logo-wrapper"><a href="#"><img class="blur-up lazyloaded" src="{% static 'images/logo_circle.png' %}"  alt=""></a></div>
            </div>
            <div class="mobile-sidebar" style="margin-left: 95px;">
                <div class="media-body text-right switch-sm">
                    <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
                </div>
            </div>
            <div class="nav-right col">
              
                <ul class="nav-menus">
                                        <li style="padding: 5px; color:white; font-size: larger;">Call Us: 0800-209003</li>
                    <li>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="Search.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                            </div>
                        </form>
                    </li>
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>

                    <li class="onhover-dropdown"><i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge">3</span><span class="dot"></span>
                        <ul class="notification-dropdown onhover-show-div p-0">
                            <li>Notification <span class="badge badge-pill badge-primary pull-right">3</span></li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0"><span><i class="shopping-color" data-feather="shopping-bag"></i></span>Foot and mouth outbreak</h6>
                                        <p class="mb-0">Foot and mouth outbreak.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="txt-dark"><a href="#">All</a> notification</li>
                        </ul>
                    </li>
                    <li class="onhover-dropdown">
                        {% if request.user.profile.profile_pic %}
                        <div class="media align-items-center"><img class="align-self-center pull-right img-60 rounded-circle blur-up lazyloaded" src="{{ request.user.profile.profile_pic.url }}" alt="header-user">
                            <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                       </diuv>
                        {% else %}
                        <div class="media align-items-center"><img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="{% static 'images/user.png' %}" alt="header-user">
                            <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                       </div>
                       {% endif %}
                        <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                            <li><a href="{% url 'common:view_profile' request.user.id %}"><i data-feather="user"></i>{{ request.user.first_name}}</a></li>
                            <li><a href="{% url 'common:change_password' %}"><i data-feather="settings"></i>settings</a></li>
                            <li><a href="{% url 'logout' %}"><i data-feather="log-out"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
            </div>
        </div>
    </div>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <div class="page-sidebar" style="margin-top: 80px;">
            <div class="sidebar custom-scrollbar">
               
                {% render_menu menu=menus.main user=request.user %}
            </div>

        </div>
        <!-- Page Sidebar Ends-->



        <div class="page-body">
            {% block content %}

            <!--Body content goes here-->
        {% endblock %}


        </div>
        {% endblock  %}

<!-- latest jquery-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>


<!-- Bootstrap js-->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!--sweet Alert-->
<script src="{% static 'js/sweetalert.min.js' %}"></script>

<!-- feather icon js-->

<script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
<script src="{% static 'js/fontawesome.min.js' %}"></script> 

<!-- Sidebar jquery-->
<script src="{% static 'js/sidebar-menu.js' %}"></script>

<!--chartist js-->
<!-- <script src="{% static 'js/chart/chartist/chartist.js' %}"></script> -->

<!--chartjs js-->
<script src="{% static 'js/chart/chartjs/chart.min.js' %}"></script>

<!-- lazyload js-->
<script src="{% static 'js/lazysizes.min.js' %}"></script>

<!--copycode js-->
<script src="{% static 'js/prism.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/custom-card.js' %}"></script>

<!--counter js-->
<script src="{% static 'js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/counter/counter-custom.js' %}"></script>

<!--peity chart js-->
<script src="{% static 'js/chart/peity-chart/peity.jquery.js' %}"></script>

<!--sparkline chart js-->
<script src="{% static 'js/chart/sparkline/sparkline.js' %}"></script>

<!--Customizer admin-->
<script src="{% static 'js/admin-customizer.js' %}"></script>



<!--right sidebar js-->
<script src="{% static 'js/chat-menu.js' %}"></script>

<!--height equal js-->
<script src="{% static 'js/height-equal.js' %}"></script>

<!-- lazyload js-->
<script src="{% static 'js/lazysizes.min.js' %}"></script>

<!--script admin-->
<script src="{% static 'js/script.js' %}"></script>
 <script src="{% static 'js/notify.js' %}"></script>

 <script src="{% static 'js/validate.min.js' %}"></script>
 <script src="{% static 'js/select2.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/multi_form.js' %}"></script>
 <!-- bootstrap tables -->

<script src="{% static 'js/tableExport.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>



{% block javascript %}{% endblock %}

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright  {% now "Y" %} © Uganda National Farmers Federation (UNFFE) </p>
                    </div>
                    <div class="col-md-6">
                        <p class="float-right mb-0">Powered by Eight Tech Consults Ltd</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>

</div>




</body>

</html>